<h1> Name: Jeremy Mary </h1>
<center>
<img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t31.0-8/1493388_10201093462318742_405417486_o.jpg?oh=15328791454cba9926ca5440b20cebc7&oe=5A40DE55"
alt="Jeremy Mary looking good">
</center>
<h2> Hometown: Wettolsheim, France </h2>
<h3> Year: Senior (this is my last semester!) </h3>
<h3> Fun Fact: I love cats <"3" </h3>
<p></p>
<h3> Why: I want to gain a better understanding of programming. </h3>
